body
{
    font-family: sans-serif;
    margin: auto 0;
    background-image: url("/img/backgroundFinal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background-image: url("/img/backgroundFinal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
