body
{
    font-family: sans-serif;
    margin: auto 0;
    background-color: white;
    background-image: url("/img/backgroundFinal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


body {
    background-image: url("/img/backgroundFinal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    place-items: center;
    justify-content: center;
}

.contaner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.border {
    border: solid 2px black;
    width: 90vw;
    height: 80vh;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

figure {
    display: flex;
    width: 48%; 
    flex-direction: row;
    box-sizing: border-box;
}

img{
    width: 200px;
    height: 200px;
    margin: 10px;
}